# 1 Создание виртуального окружения:
# py -3 m venv .venv
# .venv\scripts\activate
# 
# 2 Установка пакетов:
# pip install -r requirements.txt
# 
# 3 Ручная установка пакетов (если пункт 2 не работает)
# pyhon -m pip install eel
eel